
body {
    background-image:url(imagenes/background_body.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    font-family: sans-serif;
}

.caja {
    width: auto;
    position: relative; 
    background-color: white;
    box-shadow: 10px 10px 15px 8px #000000;
}

.titulo_1 {
    position: relative;
    margin: 0 0 0 15px;
}

nav {
    position: absolute;
    top: 70px;
    right: 100px;

}
nav li {
    display: inline-block;
    margin-left: 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none   ;
}

nav a:hover {
    opacity: 0.3 ;
    transition: 400ms;
}


.titulo_2 {
    display: block;
    margin-left: 100px;
    text-align: left; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: #000000; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

p {
    text-indent: 1.5em;
}

.parrafo_1 {
    width: 70%;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 20px; 
    color: #CCCCCC; 
    text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
}

.imagen1_parrafo1 {
    float: right;
    width: 250px;
    margin: 0 110px 0 15px;
    border-radius: 15px;
}

.imagen1_parrafo1:hover {
    opacity: 0.4;
    transition: 1s;
}

.gp1_transporte_de_personal {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
}

.gp2_renta_de_camionetas {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
}

.gp3_traslados_de_vehiculos{
    display: flex;
    text-align: center;
    margin-left: 150px;
}

.titulo_3 {
    width: 70%;
    padding-bottom: 20px;
    display: block;
    text-align: right; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: #000000; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.sub_titulo1 {
    width: auto;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: whitesmoke; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.parrafo_2 {
    width: 33%;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 20px; 
    color: #CCCCCC; 
    text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
}

.sub_titulo2 {
    width: auto;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: whitesmoke; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.parrafo_3 {
    width: 33%;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 20px; 
    color: #CCCCCC; 
    text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
}

.sub_titulo3 {
    width: auto;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: whitesmoke; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.parrafo_4 {
    width: 33%;
    margin-left: 20px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 20px; 
    color: #CCCCCC; 
    text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
}

.titulo_4 {
    width: 70%;
    display: block;
    text-align: right; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: #000000; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.parrafo_5 {
    width: auto;
    margin-left: 20px;
    padding-bottom: 25px;
    display: inline-block;
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 20px; 
    color: #CCCCCC; 
    text-shadow: -1px 0 #000, 0 4px #000, 1px 0 #000, 0 -1px #000;
}

footer {
    width: auto;
    position: relative; 
    background-color: white;

    
}






